#catalog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.produit {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.produit h3 {
    font-size: 18px;
    margin-top: 0;
}

.produit img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.produit p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.page {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 5px;
    color: #333;
    text-decoration: none;
}

.page.active {
    background-color: #ddd;
    color: #fff;
}

form {
    text-align: center;
}

/* Style du formulaire de connexion */
form input[type="text"],
form input[type="email"],
form input[type="password"] {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #3e8e41;
}

.enteteaccueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #29524e;
}

#accueil, .enteteaccueil {
    background-color: #29524e;
}

#formInscr > a:visited, #formInscr > a:link, #formInscr > a:hover, #formInscr > a:active, #formInscr > label {
    color: white;
}

.page .active{
    color: black;
}

label {
    color: white;
}

button {
    background-color: #3E8E41;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

#formInscr {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-gap: 20px;
}


/*.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

form {
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #095228;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav li:first-child {
    margin-left: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
